@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Ga+Maamli&display=swap');

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ga-maamli-regular {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  